# Environment
.env

# Virtual environments
venv/
env/
.venv/

# Django migrations
**/migrations/*
!**/migrations/__init__.py

# Database
db.sqlite3
crm_db/

# Local / test data
crm_data.py
dummy_leads.csv

# Python cache & logs
__pycache__/
*.log
